services:
  blog:
    image: ruby:3.3.4
    ports:
      - 80:80
    environment:
      - BUNDLE_PATH=vendor/bundle
    volumes:
      - .:/src
    working_dir: /src
    command: bash -c "bundle install && bundle exec jekyll s --host=0.0.0.0 --port=80"
